@font-face {
  font-family: "EBGaramond";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("EBGaramond"),
    url(./assets/fonts/EBGaramond-Regular.woff2) format("woff2"),
    url(./assets/fonts/EBGaramond-Regular.woff) format("woff");
}

@font-face {
  font-family: "EBGaramond";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("EBGaramond"),
    url(./assets/fonts/EBGaramond-Italic.woff2) format("woff2"),
    url(./assets/fonts/EBGaramond-Italic.woff) format("woff");
}

@font-face {
  font-family: "EBGaramond";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("EBGaramond"),
    url(./assets/fonts/EBGaramond-Medium.woff2) format("woff2"),
    url(./assets/fonts/EBGaramond-Medium.woff) format("woff");
}

@font-face {
  font-family: "EBGaramond";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local("EBGaramond"),
    url(./assets/fonts/EBGaramond-MediumItalic.woff2) format("woff2"),
    url(./assets/fonts/EBGaramond-MediumItalic.woff) format("woff");
}

@font-face {
  font-family: "EBGaramond";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("EBGaramond"),
    url(./assets/fonts/EBGaramond-SemiBold.woff2) format("woff2"),
    url(./assets/fonts/EBGaramond-SemiBold.woff) format("woff");
}

@font-face {
  font-family: "EBGaramond";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("EBGaramond"),
    url(./assets/fonts/EBGaramond-Bold.woff2) format("woff2"),
    url(./assets/fonts/EBGaramond-Bold.woff) format("woff");
}

.nav__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
}

.nav__list li {
  padding: 0 18px 0 18px;
}

.nav__list li a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 132%;
  color: #2d2d2d;
}

.nav__list li a:hover {
  color: #a3a983;
  transition: 0.2s ease-in;
}

.sub-burger-menu {
  position: relative;
}

.sub-burger-menu.open .sub-burger-menu__bg {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in;
}

.sub-burger-menu__line {
  display: block;
  position: absolute;
  width: 17px;
  height: 1px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  transition: 0.2s ease-in;
}

.sub-burger-menu__line:first-child {
  top: calc(50% - 6px);
}

.sub-burger-menu__line:last-child {
  top: calc(50% + 6px);
}

.sub-burger-menu.open .sub-burger-menu__line {
  opacity: 0;
  transition: none;
}

.sub-burger-menu.open .sub-burger-menu__line:first-child,
.sub-burger-menu.open .sub-burger-menu__line:last-child {
  top: 50%;
  left: 10px;
  opacity: 1;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: 0.2s ease-in;
}

.sub-burger-menu.open .sub-burger-menu__line:last-child {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sub-burger-menu__button {
  position: relative;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  border: none;
  background-color: #a3a983;
  z-index: 1005;
  right: 23px;
}

.sub-burger-menu__button:hover {
  color: #a3a983;
  opacity: 0.7;
  transition: 0.2s ease-in;
}

.open .sub-burger-menu__button {
  right: 23px;
}

.sub-burger-menu__nav {
  position: absolute;
  right: 0;
  top: -1000px;
  width: 328px;
  padding: 100px 0px 20px 0px;
  z-index: 1000;
  background-color: #fff;
  transition: 0.5s ease-in-out;
  visibility: hidden;
  overflow: auto;
}

.open .sub-burger-menu__nav {
  top: -50px;
  transition: 0.3s ease-in-out;
  visibility: visible;
}

.sub-burger-menu__list {
  padding: 0 50px;
}

.sub-burger-menu__item:nth-child(1) {
  padding: unset;
}

.sub-burger-menu__item {
  padding: 10px 0;
}

.sub-burger-menu__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #2d2d2d;
  text-decoration: none;
}

.sub-burger-menu__link:hover {
  color: #a3a983;
  transition: 0.2s ease-in;
}

.sub-burger-menu__wrapp {
  width: 100%;
  border-top: 1px solid #a3a983;
  padding-top: 20px;
}

.sub-burger-menu__wrapp .sub-burger-menu__item .sub-burger-menu__link {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  padding: 9px 0;
}

.page-header {
  z-index: 2;
  background-color: transparent;
}

.page-header__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 24px 0 24px 0;
}

.page-header__logo {
  width: 132px;
  height: 37px;
}

.page-header__nav {
  margin-right: 50px;
}

#menu-glavnoe-menyu-1 {
  display: none;
}

.page-header .logo {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  header .page-header__nav {
    display: none;
  }

  .page-header__logo {
    max-width: 125px;
    max-height: 33px;
  }
  .sub-burger-menu__nav {
    right: -23px;
  }
  .sub-burger-menu__button,
  .open .sub-burger-menu__button {
    right: 0;
  }
}
.custom-logo {
  width: auto;
}

a.btn-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  text-align: start;
  line-height: 99.5%;
  color: #a3a983;
  cursor: pointer;
}

.btn-link {
  padding-left: unset !important;
}

.btn-link::after,
.btn-link:hover,
.btn-link:focus {
  color: #2d2d2d;
  transition: 0.2s ease-in;
  color: #2d2d2d;
  outline: none;
}

.btn-link::after {
  content: url(./assets/img/btn-arow.svg);
  position: absolute;
  top: calc(50% - 25px);
  left: 112%;
  width: 55px;
  height: 55px;
}

.btn-link:hover::after {
  content: url(./assets/img/btn-arow-border.svg);
  transition: 0.3s ease-in-out;
}

.hero {
  background-color: #ebe7dc;
  padding-bottom: 107px;
  position: relative;
}
.hero::after {
  content: "";
  position: absolute;
  top: -50%;
  height: 100%;
  width: 100%;
  background-color: #ebe7dc;
  z-index: -1;
}

.hero__container {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
}

.hero__title {
  margin-top: 78px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 58px;
  line-height: 94.5%;
  color: #2d2d2d;
}

.hero__description {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #2d2d2d;
  margin-bottom: 50px;
  max-width: 400px;
}

.hero__btn.btn-link {
  max-width: 147px;
  font-weight: 600;
  font-size: 18px;
  line-height: 109.5%;
  color: #a3a983;
  transition: 0.2s ease-in-out;
}

.hero__btn.btn-link.btn-link:hover,
.hero__btn.btn-link.btn-link:focus {
  color: #2d2d2d;
  transition: 0.3s ease-in-out;
}

.hero__btn.btn-link.btn-link:hover::after {
  content: url(./assets/img/btn-arow-border.svg);
  transition: 0.2s ease-in-out;
}

.hero__btn.btn-link::after {
  content: url(./assets/img/btn-arow.svg);
  top: calc(50% - 46px);
  left: 100%;
  width: 89px;
  height: 89px;
  transition: 0.2s ease-in-out;
}

.hero__content-wrapp {
  grid-column: 1/2;
  grid-row: 1/2;
}

.hero__img-wrapp {
  grid-column: 2/3;
  grid-row: 1/2;
  position: relative;
}
@media (width: 320px) {
  .hero__img-wrapp {
    left: -20px;
  }
}

.hero__img {
  position: absolute;
  bottom: -158px;
  /*   left: 27px; */
  height: 498px;
  max-width: 573px;
  min-width: 320px;
}

@media (max-width: 768px) {
  .hero {
    padding: 0;
  }

  .hero__container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero__btn {
    margin-bottom: 53px;
  }

  .hero__img {
    position: static;
    width: 100%;
    height: auto;
    max-width: none;
    left: 0;
  }

  .hero__title {
    font-size: 40px;
    margin: 0 0 20px 0;
  }

  .hero__description {
    font-size: 18px;
    max-width: none;
    margin-bottom: 37px;
  }
}

.card-guarantee {
  padding: 35px 18px 8px 18px;
  border-radius: 2px;
  height: auto;
}

.card-guarantee--bk1 {
  background-color: rgba(227, 191, 157, 0.5);
}

.card-guarantee--bk2 {
  background-color: rgba(195, 198, 169, 0.5);
}

.card-guarantee--bk3 {
  background-color: rgba(249, 231, 214, 0.5);
}

.card-guarantee__body {
  display: inline-block;
  font-style: italic;
  font-weight: 500;
  font-size: 25px;
  line-height: 122.5%;
  text-align: center;
  color: #2d2d2d;
}

.card-guarantee__header--quality {
  display: block;
  height: 45px;
  margin-bottom: 3px;
  background-image: url(./assets/img/quality.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 45px 45px;
}

.card-guarantee__header--terms {
  display: block;
  height: 45px;
  margin-bottom: 7px;
  background-image: url(./assets/img/term.svg);
  background-repeat: no-repeat;
  background-position: center top;
}

.card-guarantee__header--communication {
  display: block;
  height: 45px;
  margin-bottom: 7px;
  background-image: url(./assets/img/communication.svg);
  background-repeat: no-repeat;
  background-position: center top;
}

@media (max-width: 768px) {
  .card-guarantee {
    padding: 25px 18px;
  }

  .card-guarantee__body {
    font-size: 22px;
  }
}

.guarantee {
  padding: 130px 0 50px 0;
}

.guarantee__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 30px;
  gap: 30px;
}

@media (max-width: 768px) {
  .guarantee {
    padding: 60px 0 30px 0;
  }

  .guarantee__container {
    gap: 20px;
  }
}

.services__section {
  margin-bottom: 100px;
}

body.scroll .service {
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.service {
  border-bottom: 2px solid #ebe7dc;
  padding: 50px 0 64px 0;
  min-height: 450px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 30px;
  gap: 30px;
}
.service__content {
  min-height: 410px;
}

.service:last-child {
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.service--reverse .service__content {
  grid-column: 2/3;
  grid-row: 1/2;
}

.service--reverse .service__content-img {
  grid-column: 1/2;
  grid-row: 1/2;
}

.service__link-wrapp {
  grid-column: 1/2;
  grid-row: 2/3;
}

.service--reverse .service__link-wrapp {
  grid-column: 2/3;
  grid-row: 2/3;
}

.service__sub-title {
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #a3a983;
}

.service__title {
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 71.5%;
  margin: 15px 0 18px 0;
  color: #2d2d2d;
}

.service__list {
  list-style-position: inside;
}

.service__item {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #2d2d2d;
}

.service__number-list {
  padding: 1rem;
}

.service__text {
  margin-bottom: 18px;
}

.service__sub-link {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #2d2d2d;
  margin-right: 39px;
}

.service__content-img {
  position: relative;
}
@media (width: 320px) {
  .service__content-img {
    left: -18px;
  }
}

.service__img {
  position: absolute;
  max-width: 71%;
  min-height: 248px;
  height: 450px;
  top: 14px;
  grid-column: 2/3;
}

.service__wrapper {
  position: relative;
  height: 100%;
}

.service__img--mini {
  position: absolute;
  max-width: 42%;
  height: auto;
  top: 275px;
  right: 0;
  z-index: 10;
  grid-column: 1/2;
  grid-row: 1/2;
}

.service--reverse .service__img {
  right: 0;
}

.service--reverse .service__img--mini {
  left: 0;
}

.service__link {
  margin: 0 20px 0 0;
}

@media (max-width: 768px) {
  .service {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    gap: 20px;
    justify-items: center;
  }

  .service__content {
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  .service__img {
    position: relative;
    /*  left: -46px; */
    left: 0;
    max-width: 80%;
    max-height: 450px;
    height: auto;
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .service__img--mini {
    max-width: 50%;
    left: 56%;
    top: -36%;
    height: auto;
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .service--reverse .service__img {
    position: relative;
    left: 23%;
  }

  .service--reverse .service__img--mini {
    /* left: -6%; */
    left: 0;
  }

  .service--reverse .service__content {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .service--reverse .service__content-img {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .service__wrapper {
    position: relative;
  }

  .service__link-wrapp {
    margin-right: auto;
    grid-column: 1/-1;
    grid-row: 3/4;
    margin-top: 20px;
  }

  .service--reverse .service__link-wrapp {
    grid-column: 1/-1;
    grid-row: 3/4;
  }

  .service__sub-link {
    display: block;
    margin-bottom: 10px;
  }

  .service__sub-title {
    font-size: 18px;
  }

  .service__title {
    font-size: 35px;
    margin: 10px 0 15px 0;
  }
}

.item-advantage__title {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 122.5%;
  color: #a3a983;
  border-bottom: 1px solid #a3a983;
}

.item-advantage__sub-title {
  display: block;
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  line-height: 122.5%;
  text-align: right;
  color: #2d2d2d;
  margin-top: 7px;
}

.advantage {
  background-color: #f1dfce;
  padding: 90px 0;
}

.advantage__title {
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 122.5%;
  text-align: center;
  color: #2d2d2d;
  margin-bottom: 0;
  margin-top: 0;
  grid-column: 1/-1;
  grid-row: 1/2;
}

.advantage__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(277px, 1fr));
  grid-template-rows: auto;
  grid-gap: 30px;
  gap: 30px;
}

@media (max-width: 768px) {
  .advantage {
    padding: 40px 0;
  }

  .advantage__title {
    font-size: 35px;
  }
}

.our-work__title {
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 122.5%;
  color: #2d2d2d;
  grid-column: 1/-1;
  grid-row: 1/2;
  margin-bottom: 0;
  margin-top: 90px;
}

.our-work__container {
  display: grid;
  grid-gap: 30px;
  gap: 30px;
  -ms-flex-align: end;
  align-items: end;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: start;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.our-work__img--one {
  max-width: 512px;
  max-height: 342px;
  grid-column: 1/2;
  grid-row: 2/4;
  position: relative;
}

.our-work__img--two {
  grid-column: 2/3;
  grid-row: 1/3;
  max-height: 225px;
  max-width: 337px;
  position: relative;
  margin-top: auto;
}

.our-work__img--three {
  max-width: 337px;
  max-height: 225px;
  grid-column: 2/3;
  grid-row: 3/5;
  margin-bottom: auto;
  position: relative;
}

.our-work__img--four {
  max-width: 266px;
  max-height: 363px;
  grid-column: 3/4;
  grid-row: 2/4;
  position: relative;
}

.our-work__wrap {
  grid-row: 4/5;
  grid-column: 1/2;
  position: relative;
  max-width: 150px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .our-work__container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 20px;
  }

  .our-work__img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  .our-work__title {
    margin: 60px 0 10px 0;
    font-size: 35px;
    line-height: 122.5%;
  }

  .our-work__img--one,
  .our-work__img--two,
  .our-work__img--three,
  .our-work__img--four {
    max-width: 100%;
    max-height: 100%;
  }

  .our-work__wrap {
    top: 0;
    margin-top: 25px;
  }
}

.page-footer__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 24px 0 24px 0;
  border-top: 2px solid #ebe7dc;
}

.page-footer__logo {
  width: 100%;
  max-width: 175px;
  max-height: 47px;
}

.page-footer__nav {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 122.5%;
  text-align: center;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.page-footer .nav__list li {
  padding: 0 30px;
}

.nav__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 132%;
  color: #2d2d2d;
}

.nav__link:hover,
.nav__link:focus {
  color: #a3a983;
  transition: 0.2s ease-in;
}

@media (max-width: 768px) {
  .page-footer__wrapper {
    padding: 20px 0;
  }
  .page-footer__logo {
    width: 100%;
    max-width: 118px;
    max-height: 32px;
  }

  .page-footer .nav__list {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .page-footer .nav__list li {
    padding: 5px 0;
  }
}

body {
  font-family: "EBGaramond", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 132%;
  color: #2d2d2d;
}

ul {
  padding: 0;
}

img {
  box-sizing: border-box;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.list-reset {
  list-style: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.scroll-stop {
  overflow: hidden;
}

/* О компании */

.about {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 80px;
  margin-top: 30px;
  background-color: #f1dfce;
}

.about__content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #f1dfce;
}

.align-items {
  position: relative;
  align-items: center;
}

.about_img {
  position: relative;
  bottom: 15px;
}

.about__title {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 58px;
  line-height: 54.81px;
  color: #2d2d2d;
}

.descr {
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  color: #2d2d2d;
  line-height: 26.1px;
  margin-bottom: 56px;
}

.about__btn {
  max-width: 155px;
  font-size: 18px;
  font-weight: 600;
  line-height: 19.71px;
  color: #a3a983;
}

.about__btn::after {
  width: 89px;
  height: 89px;
  top: calc(50% - 43px);
  left: 100%;
}

.about__description {
  max-width: 1200px;
  margin-bottom: 80px;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
}

.subtitle {
  font-weight: 600;
  font-size: 45px;
  color: #2d2d2d;
  line-height: 55.13px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.result__content-left {
  margin-right: 31px;
}

.result__descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2d2d2d;
}

.result__content-right {
  position: relative;
  margin-top: 20px;
}

.result__img-small {
  position: relative;
  max-width: 256px;
  max-height: 156px;
  bottom: 185px;
  left: 83%;
}

.team {
  margin-bottom: 30px;
}

.team__content {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #ebe7dc;
}

.team_subtitle {
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  line-height: 26px;
  color: #e3bf9d;
}

.team_descr {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #2d2d2d;
}

.partners__content-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 25px;
}

.partners__content-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}

.partners__title {
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .partners {
    display: flex;
    gap: 10px;
  }
  .partners__content-bottom {
    margin: 20px 0;
    gap: 10px;
  }
  .align-items {
    flex-direction: column-reverse;
  }
  .about__content-left {
    margin-bottom: 17px;
  }
  .about {
    position: relative;
    margin-top: 0;
    margin-bottom: 40px;
  }
  .about::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #f1dfce;
    position: absolute;
    top: -50%;
    left: 0;
    z-index: -1;
  }
  .about_img {
    bottom: -20px;
  }
  .about__title {
    font-size: 40px;
    line-height: 94.5%;
    margin-bottom: 20px;
  }
  .descr {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 46px;
  }
  .about__description {
    font-size: 20px;
    line-height: 26px;
    text-align: start;
    margin-bottom: 40px;
  }
  .subtitle {
    font-size: 35px;
    line-height: 122.5%;
  }
  .result__descr {
    font-size: 16px;
    line-height: 21px;
  }
  .result__img-big {
    width: 85%;
  }
  .result__img-small {
    position: absolute;
    max-width: 50%;
    height: 50%;
    bottom: 20px;
    left: 63%;
  }
  .result__content-right {
    margin-bottom: 60px;
  }
  .team__content-left {
    margin-bottom: 10px;
  }
  .team_descr {
    font-size: 20px;
    line-height: 122.5%;
    margin-bottom: 10px;
  }
  .description {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 10px;
  }
}

.nav__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
}

.nav__list li {
  padding: 0 18px 0 18px;
}

.nav__list li a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 132%;
  color: #2d2d2d;
}

.nav__list li a:hover,
.nav__list li a:focus {
  color: #a3a983;
  transition: 0.2s ease-in;
}

/* Цены */

.price {
  margin-top: 30px;
  margin-bottom: 50px;
}
.price-table {
  margin-bottom: 50px;
}

.price__content {
  margin-bottom: 50px;
}

.price__title {
  font-weight: 600;
  font-size: 58px;
  line-height: 55px;
  color: #2d2d2d;
  margin-bottom: 29px;
}

.price_descr {
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  color: #2d2d2d;
  margin-bottom: 51px;
}

.price__row {
  display: flex;
  align-items: center;
  padding: 7px 25px;
  background-color: #f9e7d6;
  margin-bottom: 35px;
}

.price_title {
  font-weight: 500;
  font-style: italic;
  font-size: 20px;
  line-height: 26px;
}

.price_icon-1 {
  background-image: url(assets/img/price/Mask.png);
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.price_icon-2 {
  background-image: url(assets/img/price/Mask1.png);
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.price_subtitle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid #2d2d2d;
}

.price_sutitle-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #2d2d2d;
}

.price_catalog {
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid #ebe7dc;
}

.price_catalog-text-1 {
  margin-right: 265px;
  margin-bottom: unset;
}

.price_catalog-text-2 {
  margin-right: 530px;
  margin-bottom: unset;
}

.price_catalog-text-3 {
  margin-bottom: unset;
}

/* Таблица с ценами */
.price-table__wrapp {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 2px solid #ebe7dc;
  padding: 25px 0;
}

.price-table__wrapp:last-child {
  border: none;
}

.price-table__title,
.price-table__col {
  display: inline-block;
}

.price-table__wrapp--header {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #2d2d2d;
  padding: 16px 0;
  border-bottom: 1px solid #2d2d2d;
}

@media (max-width: 768px) {
  .title {
    font-size: 40px;
    line-height: 94.5%;
    margin-bottom: 20px;
  }

  .price_descr {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .price__row {
    margin-bottom: 7px;
  }
  .price-table {
    margin-bottom: 60px;
  }
}

@media (max-width: 600px) {
  .price-table__wrapp {
    display: grid;
    gap: 13px;
    grid-template-columns: 1fr;
    padding: 13px 0;
  }

  .price-table__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #2d2d2d;
  }

  .price-table__col {
    display: inline-flex;
    justify-content: space-between;
    gap: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #2d2d2d;
  }

  .price-table__col::before {
    content: attr(data-label);
    max-width: 60%;
    display: inline-block;
  }

  .price-table__wrapp--header {
    display: none;
  }
}
/*  */
.form__wrapp {
  background-image: url(assets/img/price/image25.jpg);
  /*  max-width: 100%; */
  height: auto;
  min-height: 498px;
  background-size: cover;
  padding: 100px 40px;
}
.form__wrapp .contacts-maps__wrapp-grid {
  column-gap: 90px;
  row-gap: 0;
  margin: 0;
}
.form__wrapp .contacts-maps__title,
.form__wrapp .contacts-maps__text,
.form__wrapp .contacts-maps__link {
  color: #fff;
}

.form-product__name,
.form-product__tel,
.form-product__mail,
#form-product__textarea {
  color: #fff;
  background-color: transparent;
  border-bottom: 1px solid #ffffff;
}
.form__wrapp input[type="button"] {
  background-color: #a9a683;
  border-bottom: none;
}
@media (max-width: 768px) {
  .form__wrapp {
    padding: 25px 20px;
  }
}
/* Форма */

.wpcf7 form.sent .wpcf7-response-output {
  position: absolute;
  border-color: transparent;
  color: #fff;
}

.form {
  margin-bottom: 100px;
}

.form__content {
  display: flex;
  max-width: 100%;
  background-size: cover;
}

.form__title {
  font-weight: 600;
  font-size: 45px;
  line-height: 47px;
  color: #ffffff;
  margin-right: 94px;
  margin-bottom: 17px;
}

.form__descr,
.form__contact {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.form__descr {
  max-width: 370px;
  margin-bottom: 21px;
}

.form__contact {
  text-decoration: underline;
  margin-bottom: 11px;
}

.form-product__name,
.form-product__tel,
.form-product__mail {
  max-width: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
}

#form-product__textarea-black {
  max-width: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #2d2d2d;
  color: #2d2d2d;
}

#form-product__textarea {
  max-width: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
  position: absolute;
  border-color: transparent !important;
}

input::placeholder,
textarea::placeholder {
  color: #fff;
  font-size: 18px;
}

.form-product__name:focus,
.form-product__tel:focus,
.form-product__mail:focus,
#form-product__textarea:focus {
  outline: none;
}

.form-product__btn {
  max-width: 100%;
  width: 100%;
  padding: 15px 162px;
  background-color: #a9a683 !important;
  border-radius: 100px;
  border-bottom: unset !important;
  border: none;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}

/* Готовые лекала */

.patterns {
  margin-top: 30px;
  margin-bottom: 100px;
}

.patterns__title {
  font-weight: 600;
  font-size: 58px;
  line-height: 55px;
  color: #2d2d2d;
  margin-bottom: 29px;
}

.patterns__descr {
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  color: #2d2d2d;
  margin-bottom: 51px;
}

.patterns__descr--mt {
  margin-top: 30px;
}

.patterns__content {
  display: flex;
  flex-wrap: wrap;
}

.patterns__content-left {
  position: relative;
}

.patterns__btn {
  position: absolute;
  background-color: #ebe7dc;
  padding: 24px 35px 24px 24px;
  color: #a3a983;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  left: 158px;
  top: 143px;
}

.patterns__btn::after {
  content: url(assets/img/Patterns/Group23.svg);
  position: absolute;
  top: calc(50% - 45px);
  left: 87%;
  width: 89px;
  height: 89px;
}

.patterns__btn::after,
.patterns__btn:hover,
.patterns__btn:focus {
  color: #fff;
  transition: 0.2s ease-in;
  opacity: 1;
}

.examples {
  margin-bottom: 100px;
}

.examples__title {
  font-weight: 600;
  font-size: 58px;
  line-height: 55px;
  color: #2d2d2d;
  margin-bottom: 50px;
}

.examples__card {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  background-color: #f9e7d6;
}

.examples__card:nth-child(2n) {
  margin-right: unset;
}

.examples__content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.examples__content-left {
  margin-right: 23px;
}
.examples__content-right {
  display: flex;
}
.examples__content-title {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 42px;
}

.examples__btn,
.catalog__btn {
  padding-left: unset !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  color: #a3a983 !important;
}

.catalog__btn,
.news__btn {
  display: none;
  transition: 0.3s ease;
}

.catalog__card:hover .catalog__btn,
.news__card:hover .news__btn {
  display: inline-block;
  transition: 0.3s ease;
}

.news__card:hover .news__btn:hover,
.catalog__card:hover .catalog__btn:hover {
  color: rgba(255, 255, 255, 0.799) !important;
}

.catalog__card-link {
  text-decoration: none;
}

.catalog__card:hover,
.news__card:hover {
  filter: brightness(60%);
  transform: scale(1.03);
  transition: 0.3s ease;
}

.examples__img-1 {
  margin-right: 16px;
  max-width: 163px;
  object-fit: cover;
}
@media (max-width: 768px) {
  .patterns__descr {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  .patterns__btn {
    left: 40px;
    top: 115px;
  }
}
.examples__img-2 {
  max-width: 163px;
  object-fit: cover;
}

.advantages {
  margin-bottom: 100px;
}

.advantages__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.advantages__title {
  max-width: 485px;
  margin-bottom: 50px;
  width: 100%;
  font-weight: 600;
  font-size: 45px;
  line-height: 55px;
  color: #2d2d2d;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  /*  justify-content: flex-end; */
  gap: 20px;
  padding-left: unset;
}

.advantages__item-1,
.advantages__item-2,
.advantages__item-3,
.advantages__item-4 {
  max-width: 380px;
  padding: 40px 19px;
  font-weight: 500;
  font-size: 25px;
  font-style: italic;
  color: #2d2d2d;
}

.advantages__item-1 {
  background-color: #f7ede5;
}

.advantages__item-2 {
  background-color: #dbddce;
}

.advantages__item-3 {
  background-color: #d4d4d480;
}

.advantages__item-4 {
  background-color: #f9e7d6;
}

/* Каталог услуг */

.catalog {
  margin-top: 30px;
  margin-bottom: 70px;
}

.catalog__content-bottom {
  display: contents;
}

.catalog__title {
  font-weight: 600;
  font-size: 58px;
  line-height: 55px;
  color: #2d2d2d;
  margin-bottom: 14px;
}

.catalog__subtitle {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  color: #2d2d2d;
  font-style: italic;
}

.catalog__card {
  max-width: 364px;
  min-height: 266px;
  width: 100%;
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
  transition: 0.3s ease;
}

.news__card {
  transition: 0.3s ease;
}

.news__card:nth-child(3n) {
  margin-right: unset;
}

.catalog_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.catalog__content {
  position: absolute;
  top: 120px;
  left: 25px;
}

.catalog__content-title {
  max-width: 331px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}

.catalog__border {
  background-image: url(assets/img/services/Line39.jpg);
  width: 73px;
  height: 1px;
  margin-bottom: 10px;
}

.gallery {
  margin-bottom: 100px;
}

.gallery__title {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 45px;
  line-height: 55.13px;
}

.gallery__content {
  position: relative;
}

.gallery__content-left {
  display: flex;
  flex-wrap: wrap;
  max-width: 512px !important;
  width: 100% !important;
  margin-right: 0px;
}

.gallery_img-1 {
  margin-bottom: 20px;
  max-width: 512px;
  width: 100%;
  object-fit: cover;
}

.gallery_img-2 {
  max-width: 215px;
  width: 100%;
  margin-right: 20px;
  object-fit: cover;
}

.gallery_img-3 {
  max-width: 215px;
  width: 100%;
  object-fit: cover;
}

.gallery__content-center {
  display: flex;
  position: relative;
  max-width: 337px !important;
  margin-right: 0px;
  bottom: 45px;
  flex-wrap: wrap;
}

.gallery_img-4 {
  max-width: 368px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}

.gallery_img-5 {
  max-width: 368px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}

.gallery_img-6 {
  max-width: 395px;
  width: 100%;
  object-fit: cover;
  position: relative;
  right: 27px;
}

.gallery__content-right {
  position: relative;
  bottom: 45px;
  display: flex;
  flex-wrap: wrap;
  max-width: 307px !important;
}

.gallery_img-7 {
  max-width: 399px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}

.gallery_img-8 {
  max-width: 399px;
  width: 100%;
  object-fit: cover;
}

/* Карточка услуги */

.card-services {
  margin-bottom: 100px;
}

.card-services__bread-crumbs,
#breadcrumbs span a {
  margin-top: 24px !important;
  font-weight: 400;
  font-size: 14px;
  color: #c8c8c8;
  text-decoration: none;
}

.card-services__title {
  margin-bottom: 26px;
  font-weight: 600;
  font-size: 45px;
  line-height: 42px;
}

.card-services__descr {
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 16px;
  color: #2d2d2d;
}

.card-services__img {
  margin-bottom: 59px !important;
}

.card-services__list {
  display: flex;
  align-items: center;
}

.card-services__item-1 {
  max-width: 300px;
  padding: 23px 19px;
  margin-right: 21px;
  font-weight: 500;
  font-size: 25px;
  font-style: italic;
  text-align: center;
  color: #2d2d2d;
  background-color: #f7ede5;
}

.card-services__item-2 {
  max-width: 300px;
  padding: 23px 19px;
  margin-right: 21px;
  font-weight: 500;
  font-size: 25px;
  font-style: italic;
  text-align: center;
  color: #2d2d2d;
  background-color: #eaeaea;
}

.card-services__btn {
  font-weight: 600 !important;
  font-size: 18px !important;
  color: #a3a983 !important;
}

/* Производство */

.production {
  margin-top: 30px;
  margin-bottom: 99px;
}

.production__content {
  display: flex;
  align-items: center;
}

.production__img {
  margin-right: 33px;
}

.production__title {
  font-weight: 600;
  font-size: 58px;
  line-height: 55px;
  color: #2d2d2d;
  margin-bottom: 30px;
}

.production__descr {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

.production__list {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #e3bf9d;
  font-style: italic;
}

.equipment {
  margin-bottom: 87px;
}

video {
  margin-bottom: 15px;
  width: 267px;
}

.equipment__card-video {
  margin-right: 30px;
}

.equipment__video {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.equipment__title {
  font-weight: 600;
  font-size: 45px;
  line-height: 55px;
  color: #2d2d2d;
  margin-bottom: 18px;
}

.equipment__descr {
  margin-bottom: 23px;
  font-weight: 400;
  font-size: 20px;
  font-style: italic;
  line-height: 26px;
  color: #2d2d2d;
}

.equipment__border {
  background-image: url(assets/img/production/Line41.jpg);
  width: 73px;
  height: 1px;
  margin-bottom: 9px;
}

.equipment__subdescr {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
  line-height: 20px;
  color: #2d2d2d;
}

.equipment__card-video:nth-child(4n),
.equipment__card-video:last-child {
  margin-right: unset;
}

.have {
  margin-bottom: 70px;
}

.have__title {
  font-weight: 600;
  font-size: 45px;
  line-height: 55px;
  color: #2d2d2d;
  margin-bottom: 55px;
}

.have__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.have__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-left: unset;
  gap: 30px;
}

.have__item-1,
.have__item-2,
.have__item-3,
.have__item-4 {
  max-width: 380px;
  width: 100%;
  padding: 40px 19px;
  /*   margin-bottom: 30px; */
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  font-style: italic;
  color: #2d2d2d;
}

.have__item-1 {
  background-color: #f7ede5;
  /* margin-right: 21px; */
}

.have__item-2 {
  background-color: #dbddce;
}

.have__item-3 {
  background-color: #d4d4d480;
  /* margin-right: 21px; */
}

.have__item-4 {
  background-color: #f9e7d6;
}

.idea {
  background-color: #f1dfce;
  margin-bottom: 100px;
}

.idea__content {
  padding: 100px 0 70px;
}

.idea__title {
  max-width: 740px;
  font-weight: 600;
  font-size: 45px;
  line-height: 55px;
  color: #2d2d2d;
  margin-bottom: 9px;
}

.idea__descr {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 20px;
  font-style: italic;
  line-height: 26px;
  color: #2d2d2d;
}

.idea__card {
  margin-right: 30px;
  margin-bottom: 30px;
}

.idea__contain {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.idea__title {
  font-weight: 600;
  font-size: 45px;
  line-height: 55px;
  color: #2d2d2d;
  margin-bottom: 18px;
}

.idea__descr {
  margin-bottom: 23px;
  font-weight: 400;
  font-size: 20px;
  font-style: italic;
  line-height: 26px;
  color: #2d2d2d;
}

.idea__border {
  background-image: url(assets/img/production/Line41.jpg);
  width: 73px;
  height: 1px;
  margin-bottom: 9px;
}

.idea__descr {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
  line-height: 20px;
  color: #2d2d2d;
}

.idea__card:nth-child(4n),
.idea__card:last-child {
  margin-right: unset;
}

.idea_img {
  margin-bottom: 15px;
  width: 273px;
  height: unset;
}

.news__title,
.reviews {
  font-weight: 600;
  font-size: 45px;
  line-height: 55px;
  color: #2d2d2d;
  margin-bottom: 14px;
}

.news__descr,
.reviews {
  font-weight: 400;
  font-style: italic;
  font-size: 25px;
  line-height: 32.63px;
  margin-bottom: 50px;
}

.news,
.reviews {
  margin-top: 30px;
  margin-bottom: 70px;
}
.reviews__title {
  font-style: normal;
  font-weight: 600;
  font-size: 58px;
  line-height: 94.5%;
  color: #2d2d2d;
}

.news__content-bottom {
  display: contents;
}

.news__card {
  max-width: 374px;
  width: 100%;
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
}

.news__card:nth-child(3n) {
  margin-right: unset;
}

.news_img {
  width: 100%;
  object-fit: cover;
}

.news__content {
  position: absolute;
  top: 135px;
  left: 25px;
}

.news__content-title {
  max-width: 331px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}

.news__border {
  background-image: url(assets/img/services/Line39.jpg);
  width: 73px;
}

/* reviews-card */

.loadMoreBtn {
  color: #a3a983;
}

.loadMoreBtn:hover {
  border: 1px solid rgba(0, 0, 0, 0);
  color: #2d2d2d;
}

.reviews__wrapp-grid {
  display: grid;
  gap: 30px;
  margin: 50px 0;
}
.reviews__card-btn {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  /* identical to box height, or 22px */
  text-align: center;
  color: #a3a983;
  border: none;
  background-color: transparent;
}
.reviews-card {
  display: flex;
  gap: 36px;
}

.reviews-card__content {
  padding: 30px;
  background-color: #f7ede5;
  border-radius: 2px;
  position: relative;
  z-index: -1;
}
.reviews-card__content::after {
  content: "";
  position: absolute;
  top: 30px;
  left: -15px;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-top-width: 40px;
  border-bottom-width: 40px;
  border-right: 28px solid #f7ede5;
}
.reviews-card__img {
  max-width: 175px;
  max-height: 136px;
}
.reviews-card__title {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  color: #2d2d2d;
  display: block;
  margin-bottom: 3px;
}
.reviews-card__descr {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #2d2d2d;
  display: block;
  margin-bottom: 14px;
}
.reviews-card__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #2d2d2d;
}

.examples__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
  gap: 30px;
  justify-items: center;
}

.card-example {
  display: grid;
  /*        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); */
  grid-template-columns: 180px 1fr 1fr;
  grid-auto-flow: column;
  justify-items: start;
  align-items: center;
  gap: 16px;
  background-color: #f9e7d6;
  border-radius: 2px;
  padding: 25px 15px;
}

.card-example__img-wrapp {
  display: flex;
  gap: 16px;
}

.card-example__title {
  grid-column: 1/2;
  grid-row: 1/2;
  font-weight: 600;
  font-size: 25px;
  line-height: 33px;
  color: #2d2d2d;
  display: block;
  margin: auto 0 10px 0;
}

.card-example__link {
  grid-column: 1/2;
  grid-row: 2/3;
  display: block;
  margin: 10px 0 auto 0;
}

.examples__img-1 {
  grid-column: 2/3;
  grid-row: 1/3;
}

.examples__img-2 {
  grid-column: 3/4;
  grid-row: 1/3;
}

@media (max-width: 930px) {
  .examples__container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .card-example {
    max-width: 585px;
  }
}

@media (max-width: 585px) {
  .card-example {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .card-example__title {
    font-size: 20px;
    line-height: 26px;
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  .card-example__link {
    grid-column: 1/-1;
    grid-row: 4/5;
  }

  .card-example__link.btn-link::after {
    width: 47px;
    height: 47px;
  }

  .examples__img-1 {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .examples__img-2 {
    grid-column: 2/-1;
    grid-row: 2/3;
  }
}
@media (max-width: 768px) {
  .advantages__title {
    font-size: 35px;
    line-height: 122.5%;
    margin-bottom: 20px;
  }
  .advantages {
    margin-bottom: 60px;
  }
  .patterns {
    margin: 20px 0 30px 0;
  }
  .examples {
    margin-bottom: 60px;
  }
  .reviews__title {
    font-size: 40px;
    line-height: 94.5%;
    margin-bottom: 20px;
  }

  .reviews-card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .reviews-card__img {
    max-width: 100%;
    max-height: 100%;
  }
  .reviews-card__content::after {
    top: -40px;
    left: 30px;
    transform: rotate(90deg);
  }
  .news,
  .reviews {
    margin: 0;
  }
  .reviews__wrapp-grid {
    margin: 0 0 50px 0;
  }
}
/*  */

/* reviews-video */
.reviews-video__card {
  max-height: 310px;
}

.reviews-video__wrapp-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.reviews-video__card-btn {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  /* identical to box height, or 22px */
  text-align: center;
  color: #a3a983;
  border: none;
  background-color: transparent;
}
.reviews-video__wrapp-grid .loadMoreBtn {
  grid-column: 1/-1;
}
.reviews-video__img {
  max-width: 585px;
  max-height: 310px;
  margin-bottom: 20px;
}
.reviews-video__title {
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 94.5%;
  /* identical to box height, or 43px */
  color: #2d2d2d;
  display: block;
  margin-bottom: 50px;
}
.reviews-video__sub-title {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  /* identical to box height */
  color: #2d2d2d;
  display: block;
  margin-bottom: 3px;
}
.reviews-video__desr {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #2d2d2d;
  display: block;
}
/*  */

/* contacts */
.contacts {
  padding: 50px 0 100px 0;
}
/*  */

.contacts__wrapp-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* contacts-card */
.contacts__title {
  font-style: normal;
  font-weight: 600;
  font-size: 58px;
  line-height: 94.5%;
  /* identical to box height, or 55px */
  color: #2d2d2d;
  margin-bottom: 50px;
}
.contacts-card {
  padding: 25px;
  background-color: #f7ede5;
  border-radius: 2px;
  position: relative;
  z-index: -1;
}

.contacts-card:not(:last-child):before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 1px;
  height: calc(100% - 50px);
  border-right: 1px solid #a3a983;
}
@media (max-width: 768px) {
  .reviews-video__wrapp-grid {
    padding-bottom: 60px;
    gap: 20px;
    grid-template-columns: 1fr;
  }
  .reviews-video__title {
    margin-bottom: 25px;
  }
  .contacts__title {
    font-size: 40px;
    line-height: 94.5%;
    margin-bottom: 25px;
  }

  .contacts__wrapp-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .contacts-card:not(:last-child):before {
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% - 1px);
    height: 1px;
    width: calc(100% - 50px);
    border-bottom: 1px solid #a3a983;
  }
}

.contacts-card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 75px 0 0 0;
}
.contacts-card__title {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  /* identical to box height */
  text-align: center;
  color: #2d2d2d;
  margin-bottom: 13px;
}
.contacts-card__contact,
.contacts-card__addres {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #2d2d2d;
  text-decoration: none;
  margin-bottom: 13px;
}
.contacts-card__contact:hover {
  color: #c3c6a9;
  transition: 0.3s ease;
}
.contacts-card--tel,
.contacts-card--mail,
.contacts-card--geo {
  background-image: url(assets/img/tel.svg);
  background-repeat: no-repeat;
  background-position: center top 44px;
}
.contacts-card--tel {
  background-image: url(assets/img/tel.svg);
}
.contacts-card--mail {
  background-image: url(assets/img/mail.svg);
}
.contacts-card--geo {
  background-image: url(assets/img/geo.svg);
}
/*  */
.contacts-maps__wrapp-grid {
  display: grid;
  /*  grid-template-columns: repeat(auto-fit, minmax(280px, 50%)); */
  grid-template-columns: 1fr 1fr;
  gap: 40px 30px;
  margin: 100px 0;
}
@media (max-width: 768px) {
  .contacts-maps__wrapp-grid {
    grid-template-columns: 1fr;
    margin: 60px 0;
  }
  .contacts {
    padding: 25px 0 30px 0;
  }
}

/* contacts-maps */
.contacts-maps__title {
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 94.5%;
  /* identical to box height, or 43px */
  color: #2d2d2d;
  margin-bottom: 40px;
}
.contacts-maps__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #2d2d2d;
  margin-bottom: 21px;
}
.contacts-maps__link {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-decoration-line: underline;
  color: #2d2d2d;
  margin-bottom: 11px;
}
.contacts-maps__link:hover,
.form__contact:hover {
  color: #a3a983;
  transition: 0.3s ease;
}
/*  */

/* contacts-form */
.contacts-form__input,
.contacts-form__textarea {
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid #2d2d2d;
  width: 100%;
  outline: none;
  margin-bottom: 20px;
}

#contacts-form__textarea {
  border-bottom: 1px solid #2d2d2d;
}

.contacts-form__input::placeholder,
.contacts-form__textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #b6b6b6;
}
.contacts-form__input-btn {
  background-color: #a9a683;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.05);
  border-radius: 100px;
  font-size: 20px;
  font-weight: 600;
  padding: 15px;
  width: 100%;
  border: none;
  color: #fff;
  transition: 0.2s ease-in;
}
.contacts-form__input-btn:hover {
  color: #000;
  background-color: #f1dfce;
}
/*  */

/* ordering */
.ordering__title {
  font-style: normal;
  font-weight: 600;
  font-size: 58px;
  line-height: 94.5%;
  /* identical to box height, or 55px */
  color: #2d2d2d;
  margin: 50px 0 14px 0;
}
.reviews__descr {
  font-style: italic;
  font-weight: 400;
  font-size: 25px;
  line-height: 33px;
  /* identical to box height */
  color: #2d2d2d;
  margin-bottom: 50px;
}
.ordering__img {
  grid-column: 1/-1;
}
@media (max-width: 768px) {
  .reviews__descr {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .ordering__img {
    grid-column: 1/-1;
    width: 100%;
    min-height: 220px;
    object-fit: cover;
  }
  .ordering__title {
    font-size: 30px;
    line-height: 94.5%;
    margin: 0 0 20px 0;
  }
  .contacts-maps__title {
    font-size: 35px;
    line-height: 122.5%;
    margin-bottom: 25px;
  }
}
/*  */

/* stage */
.stage {
  position: relative;
  margin-bottom: 30px;
}
.stage__header {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  /* identical to box height */
  color: #2d2d2d;
  margin-bottom: 25px;
  display: block;
  position: relative;
  padding-left: 70px;
}
.stage__header::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 61px;
  height: 61px;
  background-color: #c3c6a9;
  border-radius: 50%;
}
.stage__header span {
  position: absolute;
  display: block;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 31.2895px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
}
.stage__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #2d2d2d;
}
.stage__img {
  max-width: 410px;
  max-height: 308px;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .stage__img {
    max-width: 410px;
    max-height: 308px;
    width: 100%;
    margin-bottom: 40px;
  }
}

/*  */

/* certificate-card */
.certificate-card {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.certificate-card__img {
  max-width: 380px;
  max-height: 538px;
  margin-bottom: 20px;
  z-index: -1;
}

.certificate-card::before {
  content: "";
  background-image: url(./assets/img/serche.svg);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 86px;
  height: 86px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: #f9e7d6;
  z-index: 10;
  opacity: 0;
}
.certificate-card:hover::before {
  transition: 0.3s ease-in-out;
  cursor: pointer;
  opacity: 1;
}
.certificate-card__title {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  /* identical to box height */
  color: #2d2d2d;
  position: relative;
}
.certificate-card__title::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 100px;
  height: 1px;
  border-top: 1px solid #a3a983;
}
.certificate__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  justify-items: start;
}
.certificate {
  margin-bottom: 100px;
}

/* Карточка новости-внутри */

.card-news {
  margin-bottom: 100px;
}

.card-news__bread-crumbs,
#breadcrumbs span a {
  margin-top: 24px !important;
  font-weight: 400;
  font-size: 14px;
  color: #c8c8c8;
  text-decoration: none;
}

.card-news__title {
  margin-bottom: 26px;
  font-weight: 600;
  font-size: 45px;
  line-height: 42px;
}

.card-news__descr {
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 16px;
  color: #2d2d2d;
}

.card-news__img {
  margin-bottom: 59px !important;
}

/* Видео отзывы */

.reviews-video__card {
  max-width: 585px;
  width: unset;
  width: 100%;
  height: auto;
}

/* popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  width: 100%;
  height: 100%;
  outline: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.popup.activ {
  height: 100%;
  visibility: visible;
  opacity: 1;
}
.popup__content {
  position: relative;
  margin: 100px auto 100px auto;
  max-width: 500px;
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
.popup__close {
  position: absolute;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 45px;
  height: 45px;
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 10px rgb(0 0 0 / 5%);
  box-shadow: 4px 4px 10px rgb(0 0 0 / 5%);
  border-radius: 50%;
  right: 20px;
  top: 15px;
}
.popup__close:hover {
  background-color: #e0e0e0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.popup__close:hover::after {
  color: #a3a983;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.popup__close::after {
  content: "\2716";
  position: absolute;
  right: 0;
  top: 13px;
  width: 45px;
  height: 45px;
  color: #424242;
}
.popup-prev,
.popup-next {
  position: fixed;
  top: 50%;
  width: 50px;
  height: 50px;
}
.popup-prev {
  left: 30px;
}
.popup-next {
  right: 30px;
}

.popup-prev:before,
.popup-next:before {
  content: "";
  width: 30px;
  height: 30px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  position: absolute;
  transform: rotate(45deg);
}

.popup-prev:before {
  transform: rotate(225deg);
}
.popup-prev:hover:before,
.popup-next:hover:before {
  cursor: pointer;
  border-top: 3px solid #a3a983;
  border-right: 3px solid #a3a983;
  transition: 0.3s ease-in-out;
}
/*  */

/* advantages */
.advantages__img {
  display: flex;
  align-items: flex-end;
}

.advantages__row {
  display: flex;
  padding-bottom: 50px;
  margin-top: 50px;
}
.advantages__row:not(:last-child) {
  border-bottom: 2px solid #ebe7dc;
}
.advantages__row:nth-child(2n) {
  flex-direction: row-reverse;
}
@media (max-width: 768px) {
  .advantages__row {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    padding: 0;
  }
  .advantages__row:nth-child(2n) {
    flex-direction: unset;
  }
  .advantages__img {
    position: relative;
    padding: 0;
    left: -18px;
    min-width: 320px;
  }
  .advantage__img--mini {
    width: 55%;
    position: relative;
    top: -50%;
    left: 120px;
  }
}
/*  */
.text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #2d2d2d;
}

.mb-50 {
  margin-bottom: 50px;
}

.policy {
  margin-bottom: 250px;
}

@media (max-width: 768px) {
  .text {
    font-size: 16px;
    line-height: 21px;
  }
}
.page-404 {
  padding: 100px 0;
}
.page-404__title {
  font-style: normal;
  font-weight: 600;
  font-size: 156.073px;
  line-height: 94.5%;
  /* or 147px */
  text-align: center;
  color: #2d2d2d;
  margin-bottom: 30px;
}
.page-404__descr {
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #2d2d2d;
  margin-bottom: 30px;
}
.page-404__wrapp {
  display: flex;
  justify-content: center;
}
.page-404 .page-404__btn {
  max-width: 180px;
  text-align: start;
  line-height: 109.5%;
}

/* Форма заказа услуги */

.page-main {
  position: relative;
}
.form-popup {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  overflow: auto;
}
.form-popup.active {
  display: flex;
  flex-direction: column;
}
.form-popup__container {
  position: relative;
  z-index: 2;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 820px;
  padding: 79px 149px 72px 149px;
  background-color: #ffffff;
  z-index: 110;
}

.form-popup__title {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 45px;
  line-height: 47px;
  text-align: center;
}

.form-popup__descr {
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.form-popup__close {
  position: absolute;
  top: 20px;
  left: 760px;
  width: 37px;
  height: 37px;
  background-image: url(assets/img/close.png);
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.form-popup__close:hover {
  background-image: url(assets/img/close-hover.png);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

/* .active {
  display: flex;
  flex-direction: column;
} */

@media (max-width: 900px) {
  .form-popup__container {
    padding: 30px 70px 30px 70px;
  }

  .form-popup__close {
    top: 0%;
    left: 88%;
  }
}

@media (max-width: 425px) {
  .form-popup__container {
    padding: 15px 30px 15px 30px;
  }

  .form-popup__title {
    font-size: 32px;
    line-height: 35px;
  }

  .form-popup__close {
    top: -3%;
    left: 80%;
  }

  /* .none {
  display: none;
} */

  @media (max-width: 768px) {
    .page-404 {
      padding: 50px 0;
    }
    .page-404__title {
      font-size: 70px;
      line-height: 94.5%;
      margin-bottom: 20px;
    }
    .page-404__descr {
      font-size: 30px;
      line-height: 39px;
      margin-bottom: 20px;
    }
    .page-404__wrapp {
      display: flex;
      justify-content: center;
    }
    .page-404 .page-404__btn::after {
      left: 85%;
    }
  }
  .title {
    font-style: normal;
    font-weight: 600;
    font-size: 58px;
    line-height: 94.5%;
    color: #2d2d2d;
  }
  @media (max-width: 768px) {
    .title {
      font-size: 40px;
      line-height: 94.5%;
      margin-bottom: 20px;
    }
    #menu-glavnoe-menyu-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .sub-burger-menu__list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .page-footer__logo {
      width: 100%;
      max-width: 118px;
      max-height: 32px;
      margin-bottom: 5px;
    }

    .page-footer .nav__list {
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-align: start;
      align-items: flex-start;
    }

    .page-footer .nav__list li {
      padding: 5px 0;
    }

    .nav__list li {
      padding: unset;
      padding: 10px 0;
    }
  }

  @media (max-width: 768px) {
    .menu-item:nth-child(7) {
      display: none;
    }

    .catalog {
      min-height: 1437px;
    }

    .catalog__title {
      max-width: 100%;
      font-weight: 600;
      font-size: 40px;
      line-height: 37.8px;
      color: #2d2d2d;
      margin-bottom: 20px;
      margin-right: unset;
    }

    .catalog__subtitle {
      margin-bottom: 20px;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      color: #2d2d2d;
      font-style: italic;
    }

    .catalog__content-bottom {
      display: flex;
      flex-direction: column;
    }

    .catalog__content {
      position: absolute;
      top: 85px;
      left: 17px;
    }

    .catalog__card {
      max-width: 100%;
      min-height: 228px;
      height: 100%;
      width: 100%;
      position: relative;
      margin-bottom: 20px;
      margin-right: unset;
    }

    .catalog_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .catalog__content-title {
      max-width: 250px;
      font-size: 18px;
      font-weight: 400;
      line-height: 23px;
      color: #ffffff;
    }

    .catalog__btn::after {
      content: url(./assets/img/btn-arow.svg);
      position: absolute;
      top: calc(50% - 25px);
      left: 112%;
      width: 55px;
      height: 55px;
    }

    .form {
      margin-bottom: 60px;
    }

    .form__title {
      font-weight: 600;
      font-size: 35px;
      line-height: 36px;
      color: #ffffff;
      margin-right: unset;
      margin-bottom: 13px;
    }

    .form-product__btn {
      max-width: 100%;
      width: 100%;
      padding: 15px 49px;
      background-color: #a9a683;
      border-radius: 100px;
      border: none;
      border-bottom: none !important;
      font-weight: 600;
      font-size: 20px;
      color: #fff;
      transition: 0.2s ease-in;
    }

    .form-product__btn:hover {
      background-color: #e3bf9d80;
      transition: 0.2s ease-in;
    }

    .form__descr {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 16px;
    }

    .form__contact:nth-child(3) {
      display: block;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 13px;
    }

    .form__contact:last-child {
      display: block;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 30px;
    }

    .gallery_img-2 {
      max-width: 100%;
      width: 100%;
      margin-right: unset;
      margin-bottom: 20px;
      object-fit: cover;
    }

    .gallery__content-center {
      bottom: unset;
    }

    .gallery_img-3 {
      max-width: 100%;
      width: 100%;
      margin-bottom: 20px;
      object-fit: cover;
    }

    .gallery_img-6 {
      display: none;
    }

    .gallery_img-8 {
      display: none;
    }

    .gallery__content-right {
      position: relative;
      bottom: -20px;
      display: flex;
      flex-wrap: wrap;
      max-width: 307px !important;
    }

    .page-footer__wrapper {
      display: block;
    }

    .page-footer__copyright {
      display: block;
      margin-bottom: 10px;
    }

    .page-footer__nav {
      margin-top: 10px;
    }

    .production {
      margin-top: unset;
      margin-bottom: 60px;
    }

    .production__content {
      display: flex;
      flex-direction: column-reverse;
      align-items: unset;
    }

    .production__title {
      font-weight: 600;
      font-size: 40px;
      line-height: 37px;
      color: #2d2d2d;
      margin-bottom: 30px;
    }

    .production__img {
      margin-right: unset;
    }

    .equipment {
      margin-bottom: 30px;
    }

    .equipment__title {
      font-size: 35px;
      line-height: 42px;
      margin-bottom: 15px;
    }

    .equipment__card-video {
      margin-right: unset;
    }

    .equipment__video {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    .equipment__card-video:nth-child(4n) {
      margin-right: 30px;
    }

    .equipment__card-video:nth-child(2n) {
      margin-right: unset;
    }

    .have__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: unset;
    }

    .have__title {
      font-size: 35px;
      line-height: 42px;
      margin-bottom: 20px;
    }

    .have__list {
      justify-content: center;
    }

    .have__item-1,
    .have__item-2,
    .have__item-3,
    .have__item-4 {
      max-width: 380px;
      width: 100%;
      padding: 29px 14px;
      font-weight: 500;
      font-size: 20px;
    }

    .idea__content {
      padding: 25px 10px 0 10px;
    }

    .idea__card {
      width: 100%;
    }

    .idea_img {
      width: 100%;
      margin-bottom: 9px;
    }

    .idea__title {
      font-size: 35px;
      line-height: 42px;
      margin-bottom: 17px;
    }

    .idea__descr {
      margin-bottom: unset;
      font-size: 18px;
      font-style: italic;
      line-height: 23px;
      margin-bottom: 20px;
    }

    .idea__card {
      margin-right: unset;
      margin-bottom: 20px;
    }

    .news__title,
    .reviews {
      font-size: 40px;
      line-height: 37px;
      margin-bottom: 20px;
    }

    .news__descr {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 25px;
    }

    .news__content-bottom {
      display: flex;
      flex-wrap: wrap;
    }

    .news__card {
      max-width: 100%;
      width: 100%;
      margin-right: unset;
      margin-bottom: 30px;
    }

    .news_img {
      width: 100%;
      object-fit: cover;
      min-height: 266px;
    }

    .news__btn {
      display: inline-block;
    }

    .card-services {
      margin-bottom: 60px;
    }

    .card-services__title {
      margin-bottom: 20px;
      font-size: 40px;
      line-height: 37px;
    }

    .card-services__img {
      min-height: 189px;
      margin-bottom: 20px !important;
    }

    .card-services__list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    .card-services__item-1,
    .card-services__item-2 {
      max-width: 300px;
      padding: 29px 22px;
      margin-right: unset;
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
    }
  }

  @media (max-width: 950px) {
    .form__content {
      display: flex;
      flex-direction: column;
      background-image: none;
      max-width: 100%;
      min-height: 498px;
      padding: unset;
      background-size: cover;
    }

    .gallery__content {
      justify-content: center;
    }

    .gallery__content-center {
      display: flex;
      position: relative;
      max-width: 450px !important;
      margin-right: 0px;
      bottom: -18px;
      flex-wrap: wrap;
    }

    .gallery__content-right {
      position: relative;
      bottom: -20px;
      display: flex;
      flex-wrap: wrap;
      max-width: 450 !important;
    }
  }

  @media (min-width: 769px) and (max-width: 1222px) {
    .production__content {
      display: flex;
      flex-direction: column-reverse;
      align-items: unset;
    }

    .have__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: unset;
    }

    .equipment__video {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    .idea__contain {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    .equipment__card-video:nth-child(4n) {
      margin-right: 30px;
    }

    .idea__card:nth-child(4n) {
      margin-right: 30px;
    }

    .news__content-bottom {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .news__card:nth-child(2n) {
      margin-right: unset;
    }

    .news__card:nth-child(3n) {
      margin-right: 30px;
    }

    .news__card:last-child {
      margin-right: unset;
    }
  }

  @media (min-width: 600px) and (max-width: 768px) {
    .news__content {
      position: absolute;
      top: 250px;
      left: 50px;
    }
  }

  @media (min-width: 769px) and (max-width: 788px) {
    .news__card {
      margin-right: unset;
    }

    .news__card:nth-child(3n) {
      margin-right: unset;
    }
  }

  @media (min-width: 789px) and (max-width: 817px) {
    .news__card {
      margin-right: unset;
    }

    .news__card:nth-child(3n) {
      margin-right: unset;
    }

    .news__card:last-child {
      margin-right: unset !important;
    }
  }
}
